<div class="modal" id="EndMissionModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">End Mission</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <h2>Are you sure you want to end mission?</h2>
            </div>

            <!-- Modal footer -->
            <div>
                <button id="edit_submit" type="button" class="btn btn-warning" style="float: left;" onclick="end_mission()">YES (end mission)</button>
                <button id="edit_submit" type="button" class="btn btn-primary" style="float: right;">NO (keep the mission going)</button>
            </div>
        </div>
    </div>
</div>