<div class="topnav col-12" id="connections_bar">
    <nav class="navbar navbar-expand-lg navbar-dark ">
        <!-- <img src="images/ssci-logo.png" width="60" style="padding: 5px;"> -->
        <img src="images/cu.png" width="50" style="padding: 5px;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- This is where all of the robots show up with their status -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" id="Robot_Tabs">
                <li class="nav-item">
                    <a class="nav-link" onclick="window.openPage('DARPA')" id="DARPA_nav_link">DARPA<br><span
                            id="connection_status_DARPA"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" onclick="window.openPage('Artifact_Page')"
                        id="Artifact_Page_nav_link">Artifacts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" onclick="window.openPage('Beacons')" id="Beacon_nav_link">Beacons</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" onclick="window.openPage('Reset')" id="Reset_nav_link">Reset</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
