<div class="col-2" id="sidebar-container" >
    <ul id="controls_bar_inner" class="list-group">
        <!-- The cards go in here -->
        <!-- Make the card styling better because rn...its not great -->
    </ul>
</div>
