<div id="controls_bar" >
    <ul id="controls_bar_inner" class="sidenav">
        <!-- The cards go in here -->
        <!-- Make the card styling better because rn...its not great -->
    </ul>
</div>