* { box-sizing: border-box; }
body {
  font: 16px Arial;
}

html,
body {
  height: 100%;
  margin: 0;
}

.artifact_table {
  margin-top: 10px;
}

.panel-default .panel-title a {
  font-size: 20px;
  color: white;
}

.panel-default .panel-title a:after {
  padding-top: 5px;
  font-size: 30px;
  content: "-";
  float: right;
  margin-top: -12px;
}
.panel-default .panel-title a.collapsed:after {
  content: "+";
}

.btn-space {
  margin-right: 5px;
}


.topnav {
  background-color: #333;
  overflow-y: hidden;
  overflow-x: auto;
  font-size: medium;
  height: 8vh;
  /* resize: vertical; */
}

li {
  list-style-type: none;
}

/* The sidebar menu */
.sidenav {
  height: 92vh;
  /* Full-height: remove this if you want "auto" height */
  width: 10vw;
  /* max-width: 200px; */
  /* Set the width of the sidebar */
  position: relative;
  /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
  /* Stay on top */
  top: 1;
  /* Stay at the top */
  left: 0;
  background-color: #343a40;
  /* Black */
  overflow-x: hidden;
  overflow-y: auto;
  /* Disable horizontal scroll */
  padding-top: 0px;
  padding-left: 0px;
  resize: horizontal;
  /* margin-top: 8vh; */

}


/* Style page content */
.main {
  margin-left: 8vw;
  margin-top: 0vh;
  /* Same as the width of the sidebar */
  /* padding-bottom: 10px; */
  /* padding-top: 200px; */
  overflow-y: auto;
  overflow-x: hidden; 
  height: auto;
  /* background-color: #000000; */
}


.quick_control {
  background-color: darkgrey;
  text-align: center;
  padding-bottom: 3%;
  border-bottom: 1px solid #343a40;
}

button {
  margin: 1px;
}

.btn {
  padding-top: 0px;
  padding-bottom: 0px;
}

.reset-check {
  display: inline;
  width: 1.5em;
  vertical-align: bottom;
}

.section_div{
  border: solid black 4px;
}

.fused_div{
  overflow-y: scroll;
  min-height: 100px;
  height: 20vh;
  overflow-x: hidden;
  resize: vertical;

}
.raw_div{
  overflow-y: scroll;
  min-height: 100px;
  height: 40vh;
  overflow-x: hidden;
  resize: vertical;

}
.submitted_div{
  overflow-y: scroll;
  min-height: 100px;
  height: 10vh;
  overflow-x: hidden;
  resize: vertical;

}
/* 
.custom-select{
} */

.control-icons{
  width: 25px;
  height: 25px;
}

.highlight {
  box-shadow: 0px 0px 10px #fff;
}

#sidebar-container {
  height: 92vh; 
  background-color: #333;
  padding: 0;
  overflow-y: scroll;
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr 5fr;
}