/* Set height of body and the document to 100% to enable "full page tabs" */
html{
  margin: 0;
  padding: 0;
  height: 100%;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial;
    height: 100%;
    background-image: url("../images/lines.png");
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    display: none;
    padding: 20px 20px;
    max-width: 95%;
    height: 100%;
    margin: auto;
  }
  #Robot_Pages {
      min-height: 100%;
      min-width: 100%;
  }
  #Universal_Page {
    padding: 20px;
    font-size: 30px;
    justify-content: center;
  }

  #Robot_Pages #File .margin-bottom {
    margin-bottom: 15px;
  }

  #Universal_Page label{
    color: black;
  }
