<launch>
    <node name="rosbridge" pkg="rosbridge_server" type="rosbridge_websocket" output="screen">
    </node>
    <node name="rosapi" pkg="rosapi" type="rosapi_node" output="screen">
    </node>
    <node name="tf2_web_republisher" pkg="tf2_web_republisher" type="tf2_web_republisher" output="screen">
    </node>
    <node name="marker_server" pkg="marble_gui" type="marker_server" output="screen">
    </node>

    <param name="frame" type="string" value="world"/>
    <!-- The submitted artifact text offsets. change these for better text placement with regard to the sphere marker-->
    <param name="sub_offset_text_x" type="double" value="0.0"/>
    <param name="sub_offset_text_y" type="double" value="0.0"/>
    <param name="sub_offset_text_z" type="double" value="0.0"/>

    <!-- get the names of each robot in play from dan's config file -->
    <param name="robot_names_config" type="string" value="/home/dan/catkin/src/marble/marble_gui/src/js/robots.txt"/>

    <node name="gui" pkg="marble_gui" type="gui_launch.sh" output="screen" args="$(find marble_gui)/src">
    </node>
    <include file="$(find marble_gui)/launch/teleop.launch" />
</launch>
