<launch>
    <arg name="robots" default="" />
    <node name="rosbridge" pkg="rosbridge_server" type="rosbridge_websocket" output="screen">
    </node>
    <node name="rosapi" pkg="rosapi" type="rosapi_node" output="screen">
    </node>
    <node name="tf2_web_republisher" pkg="tf2_web_republisher" type="tf2_web_republisher" output="screen">
    </node>
    <node name="marker_server" pkg="marble_gui" type="marker_server" output="screen">
    </node>

    <node name="image_listener_node" pkg="marble_gui" type="image_listener_node" output="screen">
    </node>
    <param name="image_dir" value="$(find marble_gui)/src/js/mission_imgs/"/>

    <param name="frame" type="string" value="world"/>
    <!-- The submitted artifact text offsets. change these for better text placement with regard to the sphere marker-->
    <param name="sub_offset_text_x" type="double" value="0.0"/>
    <param name="sub_offset_text_y" type="double" value="0.0"/>
    <param name="sub_offset_text_z" type="double" value="0.0"/>


    <!-- This is the prefix used for multiagent or local tests "/Base/neighbors/" or "/" -->
    <param name="ma_prefix" type="string" value="/Base/neighbors/"/>

    <!-- Prefix for the topic for direct comms -->
    <param name="comms_prefix" type="string" value="/Base/mesh_comm/"/>

    <!-- get the names of each robot in play from dan's config file -->
    <param name="robot_names_config" type="string" value="$(find marble_gui)/src/js/robots.txt"/>
    <!-- Robots to create listeners for -->
    <param name="robots" value="$(arg robots)" />
    
    <node name="gui" pkg="marble_gui" type="gui_launch.sh" output="screen" args="$(find marble_gui)/src">
    </node>
    <include file="$(find marble_gui)/launch/teleop.launch" />
</launch>
