<!-- 
this should be an all in one test

Runs the marble_gui
runs the test DARPA server
runs a ros bag
-->

<launch>
    <include file="$(find marble_gui)/launch/marble_gui.launch" />
    <node name="server" pkg="marble_gui" type="test_server_launch.sh" output="screen" args="$(find marble_gui)/test/test_scoring_server_stix1">
    </node>
    <node pkg="rosbag" type="play" name="player" output="screen" args="$(find marble_gui)/test/test.bag">
    </node>
</launch>
