<h3>Submissions</h3>
<div class="submitted_div" >
    <div class="col-md-12 artifact_table">
        <table class="table table-bordered" style="background-color: white">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Position</th>
                    <th>Notes</th>
                    <th>Response</th>
                </tr>
            </thead>
            <!-- Used for darpa artifact submission -->
            <tbody id="submission_tbody">
                
            </tbody>
        </table>

    </div>
</div>