<!DOCTYPE html>
<html>

<style>
    
    
</style>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

    <!--! Electrons way of loading jquery into the application  -->
    <script>window.$ = window.jQuery = require('jquery');</script>

    <!--! Bootstrap is a css/js library that allows for quick and easy builds of dynamic web pages -->
    <script type="text/javascript" src="bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="charts/Chart.min.js"> </script>

    <!--! Entire robotwebtoools library  -->
    <!-- <script type="text/javascript" src="robotwebtools/three.min.js"></script> -->
    <script type="text/javascript" src="robotwebtools/eventemitter2.min.js"></script>
    <script type="text/javascript" src="robotwebtools/roslib.min.js"></script>
    <!-- <script type="text/javascript" src="robotwebtools/ros3d.min.js"></script> -->

    <script type="text/javascript" src="js/artifactHandler.js"></script>
    <script type="text/javascript" src="js/fileHandler.js"></script>
    <script type="text/javascript" src="js/darpaServerComm.js"></script>
    <!-- <script type="text/javascript" src="js/octomap_viewer.js"></script> -->
    <script type="text/javascript" src="js/tab_manager.js"></script>
    <script type="text/javascript" src="js/readData.js"></script>
    <script type="text/javascript" src="js/tabs.js"></script>
    <script type="text/javascript" src="js/fileCopy.js"></script>
    <script type="text/javascript" src="js/battery.js"></script>
    <script type="text/javascript" src="js/renderjson.js"></script>
    <!-- <script type="text/javascript" src="js/webviz.js"></script> -->

    <script src="bower_components/webcomponentsjs/webcomponents-loader.js"></script>

    <link rel="stylesheet" href="bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->

    <!--! Personal CSS files used to change the style of default tabs and pages -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/tabs.css">

    <!-- <link rel="import" href="bower_components/ros-websocket/ros-websocket.html" />
    <link rel="import" href="bower_components/ros-rviz/ros-rviz.html" /> -->
    <link rel="import" href="bower_components/polymer/lib/elements/dom-bind.html" />

</head>


<!-- <body onload="window.setTimeout(function(){window.setSpeed(1000);},1000);"> -->

<body onload="populateOpts(), teleop_route(), get_darpa_artifacts(), what_logs()
" style="overflow: hidden;">
    <!-- <div class="container"> -->
    <!--! Tab bar at the top of web page that displays all vehicles and default tabs -->
    <div class="topnav" id="connections_bar">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <!-- <img src="images/ssci-logo.png" width="60" style="padding: 5px;"> -->
            <img src="images/cu.png" width="50" style="padding: 5px;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- This is where all of the robots show up with their status -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto" id="Robot_Tabs">
                    <li class="nav-item">
                        <a class="nav-link" onclick="window.openPage('DARPA')" id="DARPA_nav_link">DARPA<br><span
                                id="connection_status_DARPA"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="window.openPage('Artifact_Page')"
                            id="Artifact_Page_nav_link">Artifacts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="window.openPage('Beacons')" id="Beacon_nav_link">Beacons</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <!-- sidebar to control each robot 
        scrolls independently from any of the rest of the page -->
    <div id="controls_bar" >
        <ul id="controls_bar_inner" class="sidenav">
            <!-- The cards go in here -->
            <!-- Make the card styling better because rn...its not great -->
        </ul>
    </div>

     <!--! Top bar on web page that displays all information reported back by DARPA when getting the score -->
     <div id="Universal_Page" class="row">
        <!-- Score: <label style="background-color: white; padding: 2px;"> 10 </label> -->
        <span class="badge badge-secondary col-sm-4" style="text-align: center">Time: <span
            id="header_time">nan</span></span>
        <span class="badge badge-secondary col-sm-4" style="text-align: center">Score: <span
            id="header_score">0</span></span>
        <span class="badge badge-secondary col-sm-4" style="text-align: center">Remaining Artifacts: <span
            id="header_remaining_reports">nan</span></span>
    </div>

    <div class="main">

        <!--! DIV that contains all details within each tab, vehicle pages are added as subsections through javascript -->
        <div id="Robot_Pages" >


            <div id="DARPA" class="tabcontent">`
                <!-- add stuff here for DARPA server -->
                <div class="card card-body" style="margin-bottom: 40px;">
                    <h1>DARPA Reporting</h1>
                    <p><i>Systems Teams must provide real-time 3D volumetric map updates to the DARPA Command Post at a minimum
                        frequency of one update per 10 seconds.</i></p>

                    <div class="row">
                    <div class="col-4">
                        Last mapping report sent (PointCloud2):
                        <div style="padding-left: 10px;">
                        time sent: <span id="mapping_cloud_report_last_sent_raw">-</span>
                        <br>
                        time elapsed since last sent: <span id="mapping_cloud_report_last_sent_secs_ago">-</span>
                        </div>
                    </div>
                    <div class="col-4">
                        Last mapping report sent (OccupancyGrid):
                        <div style="padding-left: 10px;">
                        time sent: <span id="mapping_grid_report_last_sent_raw">-</span>
                        <br>
                        time elapsed since last sent: <span id="mapping_grid_report_last_sent_secs_ago">-</span>
                        </div>
                    </div>

                    <div class="col-4">
                        Last telemetry report sent (PoseArray): <span id="telemetry_report_last_sent">-</span>
                        <div style="padding-left: 10px;">
                        time sent: <span id="telemetry_report_last_sent_raw">-</span>
                        <br>
                        time elapsed since last sent: <span id="telemetry_report_last_sent_secs_ago">-</span>
                        </div>
                    </div>

                    </div>
                </div>
            </div>

            <!-- This is where the rviz map lives -->
            <div id="Beacons" class="tabcontent">
                <h1>Beacons</h1>
                <div id="Beacon_Cards">

                </div>
            </div>

            <!-- It is what it says, this is where the artifacts show up and where they are submitted thorugh -->
            <div id="Artifact_Page" class="tabcontent">
                <div class="section_div">
                    <h3>Fused Artifacts</h3>
                    <div class="col-sm-12, fused_div" robot_name="Base">
                        <!-- <div class="row" artifact_id="header">
                            <span class="badge badge-secondary col-sm-12" style="font-size: 20px"><b>Fused Artifacts</b></span>
                        </div> -->

                        <div class="row" artifact_id="title">
                            <span id="type" class="badge badge-secondary col-sm-2" style="text-align: center"><b>Type</b></span>
                            <!--
                            <span id="num_seen" class="badge badge-secondary col-sm-1" style="text-align: center"><b># Seen</b></span>
                            -->
                            <span id="seen_by" class="badge badge-secondary col-sm-2" style="text-align: center"><b>Seen By</b></span>
                            <span id="confidence" class="badge badge-secondary col-sm-1" style="text-align: center"><b>Confidence</b></span>
                            <span id="position" class="badge badge-secondary col-sm-3" style="text-align: center"><b>Position</b></span>
                            <span class="badge badge-secondary col-sm-2" style="text-align: center"><b>DARPA</b></span>
                            <span class="badge badge-secondary col-sm-2" style="text-align: center"><b>Image</b></span>
                        </div>
                    </div>
                </div>

                <!-- WHERE THE ROBOT ARTIFACTS GO -->
                <div class="section_div">
                    <h3>Raw Robot Artifacts</h3>
                    <div id="robot_artifact_tables" class="raw_div">
                    
                    </div>
                </div>
                
                <!-- WHERE THE SUBMISSIONS LIVE -->
                <div class="section_div">
                    <h3>Submissions</h3>
                    <div class="submitted_div" >
                        <div class="col-md-12 artifact_table">
                            <table class="table table-bordered" style="background-color: white">
                                <thead>
                                    <tr>
                                        <th>Type</th>
                                        <th>Position</th>
                                        <th>Notes</th>
                                        <th>Response</th>
                                    </tr>
                                </thead>
                                <!-- Used for darpa artifact submission -->
                                <tbody id="submission_tbody">
                                    <!--
                                    <tr>
                                        <td>sam</td>
                                        <td>gillam</td>
                                        <td>gillamkid@gmail.com</td>
                                        <td>No points added</td>
                                    </tr>
                                    -->
                                </tbody>
                            </table>
    
                        </div>
                    </div>
                </div>
                
                <div>
                    <!-- Button to Open the Modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#NewReportModal"
                        data-backdrop="static" data-keyboard="false" style="float: left;">
                        New Report
                    </button>

                    <!-- Button to end mission -->
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#EndMissionModal"
                        data-backdrop="static" data-keyboard="false" style="float: right;">
                        End Mission
                    </button>
                </div>
                

                <!-- New Report Modal -->
                <div class="modal" id="NewReportModal">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Artifact Submit</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                <div class="form-group">
                                    <!-- This is for selecting the artifact type -->
                                    <select class="custom-select" id="edit_type">

                                    </select>
                                </div>
                                <div class="form-group form-inline">
                                    <label style="width: 30px;">X:</label>
                                    <input id="edit_x_pos" type="text" class="form-control" placeholder="position"
                                        ng-model="personalDetails.lname" required>
                                </div>
                                <div class="form-group form-inline">
                                    <label style="width: 30px;">Y:</label>
                                    <input id="edit_y_pos" type="text" class="form-control" placeholder="position"
                                        ng-model="personalDetails.lname" required>
                                </div>
                                <div class="form-group form-inline">
                                    <label style="width: 30px;">Z:</label>
                                    <input id="edit_z_pos" type="text" class="form-control" placeholder="position"
                                        ng-model="personalDetails.lname" required>
                                </div>
                                <div class="form-group">
                                    <input id="edit_notes" type="text" class="form-control" placeholder="notes"
                                        ng-model="personalDetails.email" required>
                                </div>
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button id="edit_submit" type="button" class="btn btn-primary" onclick="submit_artifact()">Report</button>
                            </div>
                            <!-- <div class="modal-footer">
                                <button id="edit_submit" type="button" class="btn btn-primary">Report</button>
                            </div> -->

                        </div>
                    </div>
                </div>

                <!-- End Mission Modal -->
                <div class="modal" id="EndMissionModal">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">End Mission</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                <h2>Are you sure you want to end mission?</h2>
                            </div>

                            <!-- Modal footer -->
                            <div>
                                <button id="edit_submit" type="button" class="btn btn-warning" style="float: left;" onclick="end_mission()">YES (end mission)</button>
                                <button id="edit_submit" type="button" class="btn btn-primary" style="float: right;">NO (keep the mission going)</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- <div id="Rviz_Viewer">
            <div id="rviz">
                <dom-bind>
                    <template id='dom-bind'>
                        <ros-websocket auto id="websocket" ros="{{ros}}" url="{{url}}"></ros-websocket>
                        <ros-rviz ros="{{ros}}" websocket-url="{{url}}"></ros-rviz>
                    </template>
                </dom-bind>
            </div>
        </div> -->
        <!-- This is where the vizualizer should go -->
       
    </div>


</body>

</html>